<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
		<add name="connRevisao"
			 connectionString="DATA SOURCE=JUN0684702W10-1\BDSENAC;INITIAL CATALOG=DBREVISAO;USER ID=senaclivre;PASSWORD='senaclivre'"/>
		<add name="connProdutos"
			 connectionString="DATA SOURCE=JUN0684694W10-1\BDSENAC;INITIAL CATALOG=Produtos;USER ID=senaclivre;PASSWORD='senaclivre'"/>
	</connectionStrings>
		
	
</configuration>